// mosaic pipeline config

manifest {
    name            = 'mosaic'
    author          = 'hause et al.'
    description     = 'microsatellite instability classification from paired tumor/normal exomes'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '1.0.0'
}

params {
    // required (main.nf)
    samplesheet         = null
    reference           = null
    microsatellite_bed  = null

    // main.nf defaults
    num_loci                = 516876
    defb_locus              = "8:7679723-7679741"
    outdir                  = "./results"
    peak_avg_threshold_high = 0.0055
    peak_avg_threshold_low  = 0.0029
    msings_cmd              = null                          // e.g. "msi analyzer"; null => default
    min_rel_abundance       = 0.05                          // paper's 5% relative-abundance filter

    // build_reference.nf defaults
    capture_bait_bed        = null
    misa_motifs             = "1-5 2-5 3-5 4-5 5-5"         // subunit_length-min_repeats
    misa_interrupts         = 0
    pad_bp                  = 5
    merge_gap_bp            = 10
    bait_slop_bp            = 50
    annovar_dir             = null
    annovar_db              = null
    annovar_build           = "hg19"

    // paper-reproduction (reproduce.nf)
    cache_dir   = "./cache/mosaic_processed"
    scripts_dir = "${projectDir}/../scripts"
    data_dir    = "${projectDir}/../data"

    help = false
}

// default resource labels
includeConfig 'conf/base.config'

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }

    docker {
        docker.enabled         = true
        singularity.enabled    = false
        process.container      = 'ghcr.io/ronaldhause/mosaic:latest'
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        process.container      = 'docker://ghcr.io/ronaldhause/mosaic:latest'
    }
}

// provenance
timeline { enabled = true; file = "${params.outdir}/pipeline_info/timeline.html"; overwrite = true }
report   { enabled = true; file = "${params.outdir}/pipeline_info/report.html";   overwrite = true }
trace    { enabled = true; file = "${params.outdir}/pipeline_info/trace.txt";     overwrite = true }
dag      { enabled = true; file = "${params.outdir}/pipeline_info/dag.html";      overwrite = true }
